@model TripstreakReports.Models.MixpanelModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>Mixpanel Dashboard</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Mixpanel</li>
    </ol>

    <section class="content">

        <div id="Messages">
            @if (!string.IsNullOrEmpty(@ViewBag.MessageAlert))
            {
                string message = ViewBag.MessageAlert;
                if (message.ToLower().StartsWith("success"))
                {
                <div class="alert alert-success">
                    <strong>@ViewBag.MessageAlert</strong>
                </div>
                }
                else if (message.ToLower().StartsWith("error"))
                {
                <div class="alert alert-danger">
                    <strong>@ViewBag.MessageAlert</strong>
                </div>
                }
            }
        </div>



        <div id="env" class="make-switch " align="center">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding: 0px !important;">
                            <h6 class="panel-title"><strong>Environment</strong></h6>
                        </div>
                        <div class="panel-body">
                            @Html.CheckBoxFor(m => m.IsProdEnvironemt, new { @class = "MixpanelProbe", @id = "environment", @data_toggle = "toggle", @data_on = "Production", @data_off = "Stage", @data_onstyle = "success", @data_offstyle = "warning" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>



        <div id="_MixpanelReportPanelsDiv">
            @Html.Partial("_MixpanelReportPanels")
        </div>

        <!-- /.col -->

        <!-- /.row -->
    </section>
</section>
