@using Newtonsoft.Json
@using TripstreakReports.Controllers
@using TripstreakReports.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tripstreak Reports</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/dist/css/bootstrapValidator.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/dist/css/AdminLTE.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/dist/css/skins/_all-skins.min.css">
    <link href="~/plugins/iCheck/all.css" rel="stylesheet" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.0.1/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
    <link href="http://formvalidation.io/vendor/formvalidation/css/formValidation.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <style type="text/css">
        /*.table-hover tbody tr:hover td
        {
        background-color: #08C;
        }*/

        .bg {
            background-color: #08C !important;
            color: white;
        }

        .snipper {
            background: #ffffff;
            color: #666666;
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: 5000;
            top: 0;
            left: 0;
            float: left;
            text-align: center;
            padding-top: 20%;
        }

        .snipper1 {
            color: #666666;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 5000;
            top: 0;
            left: 0;
            float: left;
            text-align: center;
            padding-top: 20%;
            display: block !important;
        }

        .fadeout {
            opacity: 0.4;
        }

        #OverlayAmenityTable {
            display: none;
        }







        .btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #0275d8;
    border-color: #0275d8;
}

.btn-success.btn-outline {
    color: #5cb85c;
    border-color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
    border-color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
    border-color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}



    </style>


</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div id="overlay" class="snipper">
        <img src="~/Images/DashboadSpinner.gif" alt="Loading" /><br />
    </div>
    <div class="wrapper">
        <header class="main-header">

            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">TS</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">TripStreak Reports</span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/dist/img/avatar5.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">TripStreak</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">                                   
                                    <img src="~/dist/img/avatar5.png" class="img-circle" alt="User Image">
                                    <p>
                                        TripStreak
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                    </div>
                                    <div class="pull-right">                                        
                                        <button type="button" class="btn btn-primary btn-outline" style="width: 90px;" onclick="location.href='@Url.Action("LogOut", "Account")'"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;Sign out</button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>


        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/dist/img/avatar5.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p style="padding-top: 11px;">TripStreak</p>                        
                    </div>
                </div>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    @*<li class="header">MAIN NAVIGATION</li>*@
                    <li class="active treeview">
                        <a href="#">
                            <i class="fa fa-dashboard" style="font-size: 15px;"></i><span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="AmenitiesDashboard" class="active"><a href="@Url.Action("Home", "Dashboard")"><i class="fa fa-circle-o text-yellow"></i>Amenities</a></li>
                            <li id="MixpanelDashboard"><a href="http://stage-apis.tripstreak.com/v1.0/AmenitiesUpdater/mixpanel"><i class="fa fa-circle-o text-aqua"></i>Mixpanel</a></li>
                        </ul>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>


        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>




        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">

                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->

                <!-- Settings tab content -->

                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->

        <div class="control-sidebar-bg"></div>

    </div>
    <!-- jQuery 2.1.4 -->
    @*<script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>*@
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/dist/js/bootstrapValidator.js"></script>

    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>


    <script src="~/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- ChartJS 1.0.1 -->
    <script src="~/plugins/fastclick/fastclick.min.js"></script>
    <script src="~/dist/js/app.min.js"></script>
    <script src="~/dist/js/demo.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.0.1/js/bootstrap-switch.js"></script>

    @*<script src="http://gregpike.net/demos/bootstrap-file-input/bootstrap.file-input.js"></script>   *@
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script src="~/plugins/iCheck/icheck.min.js"></script>

    <script>
        var data = @Html.Raw(JsonConvert.SerializeObject(this.Model));
        var isProdEnvironment = data.IsProdEnvironemt;
        var table = $('#Amenities').DataTable();

        $(window).load(function() {
            $("#overlay").fadeOut("slow");
        });

        document.getElementById('fileInput').onchange = function() {
            document.getElementById("FileName").value = this.value.replace(/.*[\/\\]/, '');;
        };

        function ApplyPagingSortingSelectionToTable() {
            table = $('#Amenities').DataTable();
            $('#Amenities tbody').on('click', 'tr', function() {
                if ($(this).hasClass('bg')) {
                    $(this).removeClass('bg');
                } else {
                    //table.$('tr.bg').removeClass('bg');
                    $(this).addClass('bg');
                }
            });
        }

        function AddSnippner() {
            $("#OverlayAmenityTable").addClass("snipper1");
            $("#Amenities").addClass("fadeout");
        }

        function RemoveSpinner() {
            $("#Amenities").removeClass("fadeout");
            $("#OverlayAmenityTable").removeClass("snipper1");
        }

        function FadeTheAlertMessage() 
        {
            $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert").alert('close');
            });
        }

        $(function() {
            $("#Amenities").DataTable();
            $('.probeProbe').bootstrapSwitch();
            $('.probeProbe').on('switchChange.bootstrapSwitch', function(event, state) {
                isProdEnvironment = state;
                AddSnippner();
                $("#AmenityTableWarpperDiv").load('@(Url.Action("SwitchEnvironment", "Dashboard", null, Request.Url.Scheme))?isProdEnvironment=' + state, function () {
                ApplyPagingSortingSelectionToTable();
                RemoveSpinner();
            });
        });

        $('#clearAddNewAmenityForm').on('click', function () {
            $("#AddNewAmenityForm").data('bootstrapValidator').resetForm();
        });

        $('#clearEditAmenityForm').on('click', function () {
            $("#EditAmenityForm").data('bootstrapValidator').resetForm();
        });       

        $('#ImportAmenitiesButton').on('click', function () {
            var selectedFile = document.getElementById("FileName").value;
            if (selectedFile != "") {
                document.forms["importForm"].submit();
            } else {
                document.getElementById("Messages").innerHTML = "<div class='alert alert-warning'><strong>Warning!!</strong>  Please select csv file to import.</div>";
                FadeTheAlertMessage();
            }
        });

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });       

    });


    $(document).ready(function () {

        $(".alert").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert").alert('close');
        });

        ApplyPagingSortingSelectionToTable();

        $('#EditAmenity').click(function () {
            var row = table.$('tr.bg');
            if (row.length == 1) {

                $('#EditAmenity').attr('data-target', '#EditPopup');

                var oFormObject = document.forms['EditAmenityForm'];
                oFormObject.elements["Amenity.ID"].value = row[0].cells[0].innerText;
                oFormObject.elements["Amenity.Airline"].value = row[0].cells[1].innerText;
                oFormObject.elements["Amenity.AirlineCode"].value = row[0].cells[2].innerText;
                oFormObject.elements["Amenity.Manufacturer"].value = row[0].cells[3].innerText;
                oFormObject.elements["Amenity.AircraftModel"].value = row[0].cells[4].innerText;
                oFormObject.elements["Amenity.AircraftType"].value = row[0].cells[5].innerText;
                oFormObject.elements["Amenity.IataTypeMapping"].value = row[0].cells[6].innerText;
                oFormObject.elements["Amenity.Cabin"].value = row[0].cells[7].innerText;
                oFormObject.elements["Amenity.VideoType"].value = row[0].cells[8].innerText;
                oFormObject.elements["Amenity.InSeatPowerType"].value = row[0].cells[9].innerText;
                oFormObject.elements["Amenity.WiFiAvailablilty"].value = row[0].cells[10].innerText;
                oFormObject.elements["Amenity.SeatType"].value = row[0].cells[11].innerText;
                oFormObject.elements["Amenity.AvailableAtArrivalAirport"].value = row[0].cells[13].innerText;
                oFormObject.elements["Amenity.AvailableAtDepartureAirport"].value = row[0].cells[14].innerText;
                oFormObject.elements["Amenity.AvailableInCountry"].value = row[0].cells[15].innerText;
                oFormObject.elements["Amenity.BeingUpgraded"].value = row[0].cells[16].innerText;

            } else if (row.length > 1) {
                $('#EditAmenity').removeAttr('data-target', '#EditPopup');
                document.getElementById("Messages").innerHTML = "<div class='alert alert-warning'><strong>Warning!!</strong>  Please select single amenity for edit.</div>";
                FadeTheAlertMessage();
            } else {
                $('#EditAmenity').removeAttr('data-target', '#EditPopup');
                document.getElementById("Messages").innerHTML = "<div class='alert alert-warning'><strong>Warning!</strong>  Please select amenity for edit.</div>";
                FadeTheAlertMessage();
            }
        });


        $('#CloneAmenity').click(function () {
            var row = table.$('tr.bg');

            if (row.length == 1) {

                $('#CloneAmenity').attr('data-target', '#AddPopup');
                if (isProdEnvironment == true) {
                    $("#CopyToEnvironemt").text("Stage");
                } else {
                    $("#CopyToEnvironemt").text("Prod");
                }


                var oFormObject = document.forms['AddNewAmenityForm'];
                //oFormObject.elements["Amenity.ID"].value = row[0].cells[0].innerText;
                oFormObject.elements["Amenity.Airline"].value = row[0].cells[1].innerText;
                oFormObject.elements["Amenity.AirlineCode"].value = row[0].cells[2].innerText;
                oFormObject.elements["Amenity.Manufacturer"].value = row[0].cells[3].innerText;
                oFormObject.elements["Amenity.AircraftModel"].value = row[0].cells[4].innerText;
                oFormObject.elements["Amenity.AircraftType"].value = row[0].cells[5].innerText;
                oFormObject.elements["Amenity.IataTypeMapping"].value = row[0].cells[6].innerText;
                oFormObject.elements["Amenity.Cabin"].value = row[0].cells[7].innerText;
                oFormObject.elements["Amenity.VideoType"].value = row[0].cells[8].innerText;
                oFormObject.elements["Amenity.InSeatPowerType"].value = row[0].cells[9].innerText;
                oFormObject.elements["Amenity.WiFiAvailablilty"].value = row[0].cells[10].innerText;
                oFormObject.elements["Amenity.SeatType"].value = row[0].cells[11].innerText;
                oFormObject.elements["Amenity.AvailableAtArrivalAirport"].value = row[0].cells[13].innerText;
                oFormObject.elements["Amenity.AvailableAtDepartureAirport"].value = row[0].cells[14].innerText;
                oFormObject.elements["Amenity.AvailableInCountry"].value = row[0].cells[15].innerText;
                oFormObject.elements["Amenity.BeingUpgraded"].value = row[0].cells[16].innerText;
                $("#Amenity_Airline").focus();
            }
            else if (row.length > 1) {
                $('#CloneAmenity').removeAttr('data-target', '#EditPopup');
                document.getElementById("Messages").innerHTML = "<div class='alert alert-warning'><strong>Warning!!</strong>  Please select single amenity to clone.</div>";
                FadeTheAlertMessage();
            } else {
                $('#CloneAmenity').removeAttr('data-target', '#EditPopup');
                document.getElementById("Messages").innerHTML = "<div class='alert alert-warning'><strong>Warning!</strong>  Please select amenity to clone.</div>";
                FadeTheAlertMessage();
            }
        });

        $('#AddAmenity').click(function () {     
            
            if (isProdEnvironment == true) {
                $("#CopyToEnvironemt").text("Stage");
            } else {
                $("#CopyToEnvironemt").text("Prod");
            }
            $('#AddAmenity').attr('data-target', '#AddPopup');
            var oFormObject = document.forms['AddNewAmenityForm'];
            //oFormObject.elements["Amenity.ID"].value = row[0].cells[0].innerText;
            oFormObject.elements["Amenity.Airline"].value = "";
            oFormObject.elements["Amenity.AirlineCode"].value = "";
            oFormObject.elements["Amenity.Manufacturer"].value = "";
            oFormObject.elements["Amenity.AircraftModel"].value = "";
            oFormObject.elements["Amenity.AircraftType"].value = "";
            oFormObject.elements["Amenity.IataTypeMapping"].value = "";
            oFormObject.elements["Amenity.Cabin"].value = "";
            oFormObject.elements["Amenity.VideoType"].value = "";
            oFormObject.elements["Amenity.InSeatPowerType"].value = "";
            oFormObject.elements["Amenity.WiFiAvailablilty"].value = "";
            oFormObject.elements["Amenity.SeatType"].value = "";
            oFormObject.elements["Amenity.AvailableAtArrivalAirport"].value = "";
            oFormObject.elements["Amenity.AvailableAtDepartureAirport"].value = "";
            oFormObject.elements["Amenity.AvailableInCountry"].value = "";
            oFormObject.elements["Amenity.BeingUpgraded"].value = "";
            $("#Amenity_Airline").focus();
        });


        $('#DeleteAmenity').click(function () {
            var row = table.$('tr.bg');
            if (row.length > 0) {

                $('#DeleteAmenity').attr('data-target', '#DeletePopup');

                var amenityIds = "";

                for (var i = 0; i < row.length; i++) {
                    if (i == 0) {
                        amenityIds = row[i].cells[0].innerText;
                    } else {
                        amenityIds = amenityIds + ", " + row[i].cells[0].innerText;
                    }
                }
                document.getElementById("AmenityIds").innerHTML = "Amenity Id's: <strong  style='color: red;'>" + amenityIds + "</strong>";
                document.getElementById("AmenityIdsHiddenField").value = amenityIds;
            } else {
                $('#DeleteAmenity').removeAttr('data-target', '#DeletePopup');
                document.getElementById("Messages").innerHTML = "<div class='alert alert-warning'><strong>Warning!</strong>  Please select amenity for delete.</div>";
                $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                    $(".alert").alert('close');
                });
            }
        });

        $('.AmenityForm')
            .bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    'Amenity.AirlineCode': {
                        validators: {
                            notEmpty: {
                                message: 'The AirlineCode is required'
                            }
                        }
                    },
                    'Amenity.Airline': {
                        validators: {
                            notEmpty: {
                                message: 'The Airline is required'
                            }
                        }
                    },
                    'Amenity.Manufacture': {
                        validators: {
                            notEmpty: {
                                message: 'The Manufacture is required'
                            }
                        }
                    },
                    'Amenity.AircraftType': {
                        validators: {
                            notEmpty: {
                                message: 'The AircraftType is required'
                            }
                        }
                    },
                    'Amenity.IataTypeMapping': {
                        validators: {
                            notEmpty: {
                                message: 'The IataTypeMapping is required'
                            }
                        }
                    },
                    'Amenity.Cabin': {
                        validators: {
                            notEmpty: {
                                message: 'The Cabin is required'
                            }
                        }
                    },
                    'Amenity.VideoType': {
                        validators: {
                            notEmpty: {
                                message: 'The VideoType is required'
                            }
                        }
                    },
                    'Amenity.InSeatPowerType': {
                        validators: {
                            notEmpty: {
                                message: 'The InSeatPowerType is required'
                            }
                        }
                    },
                    'Amenity.WiFiAvailablilty': {
                        validators: {
                            notEmpty: {
                                message: 'The WiFiAvailablilty is required'
                            }
                        }
                    },
                    'Amenity.SeatType': {
                        validators: {
                            notEmpty: {
                                message: 'The SeatType is required'
                            }
                        }
                    }
                }
            });
    });
    </script>
</body>
</html>
