@model TripstreakReports.Models.MixpanelModel

<div class="row">
    @using (Html.BeginForm("DownloadPreconfiguredReport", "Mixpanel", FormMethod.Post, new { @name = "DownloadPreconfiguredReportForm" }))
    {             
        <div class="col-xs-3">
            <div class="box box-success box-solid">

                <div class="box-header" align="center">
                    <h3 class="box-title">Preconfigured Reports</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>

                <div class="box-body" style="height: 283px;">
                    <div align="">
                        <b class="text-success">Select the report to download</b>
                    </div>
                    <br/>

                    <div class="col-xs-12">
                        <div class="form-group">

                            <div class="radio radio-success" style="padding-top: 16px;">
                                @Html.RadioButtonFor(m => m.PreconfiguredReports, "UserFfpRanks", new { name = "radio1", id = "radioUserFfpRanks" })
                                <label for="radioUserFfpRanks">
                                    <span class="text-success">User FFP Program Preference Rank.</span>
                                </label>
                            </div>

                            <div class="radio radio-success" style="padding-top: 16px;">
                                @Html.RadioButtonFor(m => m.PreconfiguredReports, "UserCountWithFfpRank1", new { name = "radio1", id = "radioUserCountWithFfpRank1" })
                                <label for="radioUserCountWithFfpRank1">
                                    <span class="text-success">Number of user actually input FFP/rank miles as #1.</span>
                                </label>
                            </div>

                            <div class="radio radio-success" style="padding-top: 16px;">
                                @Html.RadioButtonFor(m => m.PreconfiguredReports, "Top10FfpPrograms", new { name = "radio1", id = "radioTop10FfpPrograms" })
                                <label for="radioTop10FfpPrograms">
                                    <span class="text-success">Top 10 FFP Programs of all users.</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="PreconfiguredReportOverlay" class="overlay DontDisplay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer">
                    <div align="center">
                        <button type="button" class="btn btn-success btn-outline" id="PreconfiguredReportsSubmitButton"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;Download Report</button>
                    </div>
                </div>

            </div>
            <!-- /.box -->

        </div>
    }

    @using (Html.BeginForm("DownloadSegmentReport", "Mixpanel", FormMethod.Post, new { @name = "DownloadSegmentReportForm" }))
    {
        <div class="col-xs-3">
            <div class="box box-danger box-solid">

                <div class="box-header" align="center">
                    <h3 class="box-title">Segment Reports</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>

                <div class="box-body" style="height: 283px;">
                    <div align="">
                        <b class="text-danger">Select the DateTime range</b>
                    </div>
                    <br />
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="text-danger">Date and time range</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                @Html.TextBoxFor(m => m.SegmentReports.DateTimeRange, new { @class = "form-control pull-right", id = "reservationtime" })
                            </div>
                            <!-- /.input group -->
                        </div>
                        <br/>
                        <div class="form-group">
                            <div class="funkyradio">
                                <div class="funkyradio-danger">
                                    @Html.CheckBoxFor(m => m.SegmentReports.IncludeUserInformation, new { @id = "SegmentReportsIncludeUserInfo" })
                                    <label for="SegmentReportsIncludeUserInfo"><span class="text-danger"><b>Include User Information</b></span></label>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                @*<div id="PreconfiguredReportOverlay" class="overlay DontDisplay">
                  <i class="fa fa-refresh fa-spin"></i>
                </div>*@
                <div class="box-footer">
                    <div align="center">
                        <button type="button" class="btn btn-danger btn-outline" id="SegmentReportSubmitButton" ><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;Download Report</button>
                    </div>
                </div>


                <!-- /.box -->

            </div>
        </div>
    }


    @using (Html.BeginForm("DownloadCustomReport", "Mixpanel", FormMethod.Post, new { @name = "DownloadCustomReportForm" }))
    {
        <div class="col-xs-6">
            <div class="box box-purple box-solid">

                <div class="box-header" align="center">
                    <h3 class="box-title" ali>Custom Reports</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>

                <div class="box-body" style="height: 283px;" >
                    <div align="">
                        <b class="text-purple">Select the DateTime range</b>
                    </div>


                    <div class="row">
                        <div>
                            <div class="form-group">
                                <div class="col-xs-8">
                                    <label class="text-purple">Select the report</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-bars"></i>
                                        </div>
                                        @Html.DropDownListFor(m => m.CustomReports.ReportType, Model.CustomReports.Reports, "-- Please Select Report--", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div>
                            <div class="form-group">
                                <div class="col-xs-5">
                                    <label class="text-purple">Select the filter property</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-filter"></i>
                                        </div>
                                        @Html.DropDownListFor(m => m.CustomReports.FilterProperty, Model.CustomReports.Properties.OrderBy(x => x.Text), "-- Please Select Filter --", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label class="text-purple">Select the operator</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-balance-scale"></i>
                                        </div>
                                        @Html.DropDownListFor(m => m.CustomReports.SelectedOperator, Model.CustomReports.OperatorItems.OrderBy(x => x.Text), "-- Please Select Operator--", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <label class="text-purple">Enter the value</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-text-height"></i>
                                        </div>
                                        @Html.TextBoxFor(m => m.CustomReports.Value, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div>
                            <div class="form-group">
                                <div class="col-xs-8">
                                     <label class="text-purple">Select the output columns</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-columns"></i>
                                    </div>
                                    @Html.DropDownListFor(m => m.CustomReports.OutputColumns, new MultiSelectList(Model.CustomReports.Properties, "Value", "Text"), new { multiple = "multiple", id = "OutputColumns" })
                                </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                  
                </div>
           

          @*  <div id="CustomReportOverlay" class="overlay DontDisplay">
                  <i class="fa fa-refresh fa-spin"></i>
                </div>*@
            <div class="box-footer">
                <div align="center">
                    <button type="button" class="btn btn-purple btn-outline" id="CustomReportSubmitButton"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;Download Report</button>
                </div>
            </div>
 </div>
        </div>
        <!-- /.box -->       
    }


</div>

 

<script>
   
    $(document).ready(function () {

        LoadCustomReportPanelDropdown();
    });

</script>

